services:
  - type: web
    name: monges-landscape
    env: static
    buildCommand: npm run build
    staticPublishPath: ./out
    headers:
      - path: /*
        name: Cache-Control
        value: public, max-age=31536000, immutable
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
